---
name: "CI"

on:
  push:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macmini
    steps:
      - uses: actions/checkout@v6
      - name: Run Tests
        run: swift test -v
